<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Introduction to AngularJS</title>

    <link id="themestyle" rel="stylesheet" type="text/css" href="/Content/bootstrap.css">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body data-ng-app="app">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Introduction to AngularJS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <li>@Html.ActionLink("Contacts", "Index", "Contacts", new { area = "Contacts" }, new { tabindex = "-1" })</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="examplesdrop" href="#" data-toggle="dropdown">Examples<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="examples">
                            <li><a tabindex="-1" href="/">Go Home</a></li>
                            <li><a tabindex="-1" href="..#/hello">00 Hello World</a></li>
                            <li><a tabindex="-1" href="..#/slider">01 Slider - Two way binding</a></li>
                            <li><a tabindex="-1" href="..#/controller">02 Controller</a></li>
                            <li><a tabindex="-1" href="..#/mini">03 Minification</a></li>
                            <li><hr /></li>
                            <li><a tabindex="-1" href="..#/providers">Providers</a></li>
                            <li><hr /></li>
                            <li><a tabindex="-1" href="..#/directiveslider">Directive Slider</a></li>
                            <li><a tabindex="-1" href="..#/directivesliderisoscope">Directive Slider Isolated Scope</a></li>
                            <li><hr /></li>
                            <li><a tabindex="-1" href="..#/customfilter">Custom Filters</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="http://www.angularjs.org" target="_blank">Built with: &nbsp;<img src="~/Content/images/AngularJS-small.png"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div data-ng-controller="contactsController" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div>
                 @Html.Label("{{theDate | date:'yyyy'}} - Introduction to AngularJS", new { data_ng_model = "theDate" })
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    <script src="~/App/app.js"></script>
    <script src="~/Areas/Contacts/Scripts/controllers/contactsController.js"></script>
    <script src="~/Areas/Contacts/Scripts/services/contactsService.js"></script>
    <script src="~/Areas/Contacts/Scripts/directives/directives.js"></script>
    <script src="~/Areas/Contacts/Scripts/filter/filters.js"></script>
</body>
</html>
